@font-face {
    font-family: Helvetica; 
    src: url(../fonts/Helvetica.otf); 
   }


   @font-face {
    font-family: Roboto; 
    src: url("../fonts/Roboto/Roboto-Regular.ttf"); 
   }
   @font-face {
    font-family: Roboto-Medium; 
    src: url("../fonts/Roboto/Roboto-Medium.ttf"); 
   }


   @font-face {
    font-family: Roboto-Bold; 
    src: url("../fonts/Roboto/Roboto-Bold.ttf"); 
   }


.container-fluid{
	max-width: 1920px;
}

   .circle-icon{
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   width: 34px;
	   height: 34px;
	   border: 1px solid #ffffff;
	   border-radius: 100%;
	   position: relative;
	   left: 18px;
	   background: rgba(255,255,255,0.1);
	   transition: 0.3s ease-in-out;
   }
   .circle-icon--black{
	width: 51px;
	height: 51px;
	border: 1px solid #000000;
	
	color: #000000;
	
   }
   .link__icon--black{
		color: #000000;
		transition: color 0.3s;
   }

   .link__icon--black:hover{
	color: #131313;
}

   .circle-icon svg{
	   transform: scale(1.3);
   }



   .link__icon{
	   display: flex;
	   align-items: center;
		}

   .link__icon:hover .circle-icon {
	background: rgba(255,255,255,0);
}

.cover{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	background: rgba(65, 71, 87, 0.3);
	z-index: -1;
}
.float-r{
	float: right;
}
.float-l{
	float: left;
}


h3{
	font-family: Roboto-Medium,sans-serif;
	font-weight: 600;
	font-size: 3.75rem;
}

html, body, div, section, article, aside, img, a, p,header, footer{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 a:hover{
 	text-decoration: none;
 }

.container-fluid{
	padding: 0 !important;
}

ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: 'Helvetica', sans-serif;
	font-size: 100%;
	background: #ffffff;
	color: #ffffff;
}

.header__screen{
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.header {
	width: 100%;
	position: absolute;
	z-index: 5;
}

.header__inner{
	padding: 22px 60px;
}

.header::after{
	content: "";
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
}
.header___logo {
	width: 115px;
	height: 30px;
}

.header__nav nav ul li a{
	padding-right: 30px;
	display: inline;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: Roboto;
}

.teaser{
 height: 100vh;
min-height: 770px;

}

.teaser .row{
	margin: 0;
}

.teaser__hero{
		padding: 0 0 0 60px;
		z-index: 5;
		position: absolute;
		bottom: 0;
		height: 50%;
		width: 100%;
}

.teaser__hero .__subtitle > a{
	color: #ffffff;
	font-size: 1.625rem;
}

.teaser__hero .__title h1{
	font-size: 8.75rem;
	font-family: Roboto-Bold;
} 

.teaser__navigations{
	position: relative;
	display: flex;
flex-direction: row;
align-items: flex-end;	
padding-bottom: 40px;
}

.teaser__menu{
	font-size: 1.5rem;
	width: 100%;
padding-bottom: 50px;
}

.teaser__menu ul{
}

.teaser__menu ul li{
	padding-top: 42px;
	position: relative;
}

.teaser__menu ul li::after{
	content: "";
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -11px;
	left: 0;
	display: block;
}

.teaser__menu a{
	color: #ffffff;
}

.teaser__social{
	position: relative;
	display: flex;
}
.teaser__social a{
	display: block;
text-align: center;
padding-right: 30px;
}
.teaser__social a i {
	color: #ffffff;
	transform: scale(1.2);
}

.servises{
	overflow: hidden;
}

/* cards */

.servises__card{
	position: relative;
	height: 50vh;
	min-height: 400px;
}

.servises__card--video{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.servises__card--content{
	padding: 53px 0 0 89px;
	font-size: 0.813rem;
}

.servises__card--title{
	padding-top: 20px;
	max-width: 450px;
}
.servises__card--title h3{
	font-size: 2.8rem;
	font-family: Roboto-Bold;
	line-height: 50px;
}

.servises__card--link{
	position: absolute;
	bottom: 86px;
}


.servises__card--link >*{
	color: #ffffff;
}

.servises__card--link:hover >*{
	color: #ffffff;

}


.servises__card--link .circle-icon{
	width: 51px;
	height: 51px;
}

/* history */

.history{
	display: flex;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	color: #000000;
	background: #F2F2F2;
	position: relative;
}

.history__arrow{
position: absolute;
bottom: 0;
left: 0;
}

.history__title{
	padding-left: 60px;
	padding-right: 30px;
}


.history__text p {
	text-align: justify;
}

.history__text .link__icon--black{
	padding-right: 15px;
    bottom: -10px;
    position: absolute;
    right: 15px;
}

.swiper-container {
	max-width: 690px;
	height: 500px;
  }

  .swiper-slide{
	width: 86% !important;
	height: 80% !important;
	background-size: cover !important;
	background-position: center!important;
	background-repeat: no-repeat!important;
  }


  .slider-content img{
	  width: 100%;
  }
  
  .swiper-slide-next,
  .swiper-slide-prev{
	transform: scale(0.8) translateX(-100px);
	transition: 0.3s ease-in-out;
	z-index: -1;
  }

  .swiper-slide-prev{
	  transform: scale(0.8) translateX(100px);
  }

  .swiper-slide-active{
	  height: 80% !important;
	  background-size: cover !important;
	  background-position: center!important;
	  background-repeat: no-repeat!important;
	  transition: 0.3s ease-in-out; 
	  z-index: 1;
	  transform: scale(1) translateX(0px);
	}


	.swiper-pagination{
		bottom: -30px;
		left: 10%!important;
	}
	.swiper-pagination-bullet,
	.swiper-pagination-bullet-active-next,
	.swiper-pagination-bullet-active-next-next{
		width: 131px !important;
		border-radius: 0 !important;
		height: 5px !important;
		transform: scale(1) !important;
	}

	/* management  */

	.management {
		position: relative;
		overflow: hidden;
		color: #000000;
		min-height: 300px;
		padding-top: 11rem;
		padding-left: 60px;
	}

  .management .link__icon{
		padding-top: 5.25rem;
	}


	.card{
		width: 18rem;
		min-height: 22rem;
		border: 1px solid #000000;
		border-radius: 5px;
	}

	.card-header{
		border: none;
		background: none;
		padding: 0;
		margin: 0;
	}

	.manager{
		padding: 11px;
	}

	.manager__name h5{
		font-size: 1.25em;
	}

	.manager__info > *{
		color: #A1A1A1;
		padding: 0;
		margin: 0;
		font-size: 0.813rem;
	}

	.manager__info:hover > *{
		color: #A1A1A1;
	}


	.manager__icon{
		position: relative;
	}
	.manager__status{
		position: absolute;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		top: 16px;
		left: 46px;
	}

	.online{
		background: #7AC943;
	}

	.management__slider{
		min-width: 100% !important;
	}

	.management__slider .swiper-slide{
		width: 19rem !important;
	}

	.management__slider .swiper-slide-next,
	.management__slider .swiper-slide-prev{
	  transform: scale(1) translateX(0px);
	  transition: 0.3s ease-in-out;
	  z-index: -1;
	}
  
	.management__slider .swiper-slide-prev{
		transform: scale(1) translateX(0px);
	}
  .swiper-pagination2{
	  position: absolute;
	  bottom: 0;
	  left: 0;
  }